<!DOCTYPE html>
<html xml:lang="es-ES" lang="es-ES" class="no-js">
<head>
  <title>RBS Soluciones Tecnol&oacute;gicas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="RBS Soluciones Tecnol&#243;gicas">
    <meta name="DC.title" content="RBS Soluciones Tecnol&#243;gicas">
    <meta http-equiv="title" content="RBS Soluciones Tecnol&#243;gicas">
    <meta name"DC.language" scheme="RFC1766" content="Spanish">
    <meta name="geo.region" content="ES-M">
    <meta name="geo.placename" content="Arganda del Rey">
    <meta name="author" content="RBS Soluciones Tecnológicas">
    <meta name="subject" content="Agencia Creativa">
    <meta name="description" content="Empresa dedicada al dise&#241;o y programacion de p&#225;ginas web, configuracion y mantenimiento de redes, servidores y centralitas.">
    <meta http-equiv="DC.description" content="Empresa dedicada al dise&#241;o y programacion de p&#225;ginas web, configuracion y mantenimiento de redes, servidores y centralitas.">
    <meta name="Keywords" content="diseño web, redes y seguridad perimetral, carteleria digital, servidores, centralitas, diseño grafico, posicionamiento en buscadores" />              
    <meta name="page-topic" content="Agencia creativa"/>
    <link rev="made" href="mailto:soporte@rbssoltec.com"/>
    <meta name="language" content="es"/>
    <meta name="expires" content="0"/>
    <meta name="abstract" content="diseño web"/>
    <meta name="copyright" content="© RBS Soluciones Tecnológicas"/>
    <meta name="designer" content="RBS Soluciones Tecnológicas"/>
    <meta name="publisher" content="RBS Soluciones Tecnológicas"/>
    <meta name="revisit-after" content="2 Days"/>
    <meta name="distribution" content="Global"/>
    <meta name="robots" content="index, follow, noodp"/>
    <meta name="resource-type" content="Document">
    <meta name="google-site-verification" content="FYTIz0tO2sNbgmTL2VBGcG00G-IoZGVChYR43r6gI0k" />
    <meta name="alexaVerifyID" content="BsOPC85IA1F7NrCHFYyeKrzwlac">
    <meta name="msvalidate.01" content="7CE98F6C93923E596558E9E7DAD4AC3C" />
    <link rel="canonical" href="http://rbssoltec.com">   
	
    <!-- Styles -->
    <%= stylesheet_link_tag    "bootstrap.css", :media => "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "theme.css", :media => "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "index.css", :media => "screen", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :media => "screen", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "lib/animate.css", :media => "screen, projection", "data-turbolinks-track" => true %>
    
    <!-- Java Scripts -->
    <%= javascript_include_tag "http://code.jquery.com/jquery-latest.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "schemas.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "retina.js", "data-turbolinks-track" => true %>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="http://www.rbssoltec.com/favicon.png">
    <link rel="shortcut icon" type="image/png" href="http://www.rbssoltec.com/favicon.png">  

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  
  
  <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>  
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28903059-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>
  
  <script language="javascript">
    function scrollToElement(elementId) {
        // This like will scroll Vertically to the top of the Element
        $("html, body").animate({
            // Here 0 is the time in milliseconds.
            scrollTop: $('#'+elementId).offset().top - 120 }, 300
        );
        // This like will scroll Horizontally  to the Left of the Element
        $("html, body").animate({
            // Here 0 is the time in milliseconds.
            scrollLeft: $('#'+elementId).offset().left }, 300
        );
    }
</script>

</head>
<body class="pull_top" itemscope itemtype="http://schema.org/WebPage" data-twttr-rendered="true">

<div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
    
    <div class="navbar transparent navbar-inverse navbar-fixed-top" additionalType="navegationMenu">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            
                <img class="brand" itemprop="image" src="/assets/RBS-w.png" width="80px" height="65px">
            
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li itemprop="name">
                        <%= link_to 'RBS', root_path %>
                    </li>
                    <li itemprop="breadcrumb" class="dropdown">
                        <a itemprop="url" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Productos
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li itemprop="name">
                                <%= link_to 'Comparar Envios' , 'comparador#index' %>
                            </li>
                            <li itemprop="name">
                                <%= link_to 'Diseño Web' , 'diseno#index' %>
                            </li>
                            <li itemprop="name">
                                <%= link_to 'Avast Antivirus' , 'avast#index' %>
                            </li>
                            <li itemprop="name">
                                <%= link_to 'Software DELSOL' , 'delsol#index' %>
                            </li>
                            <li itemprop="name">
                                <%= link_to 'Redes y Seguridad Perimetral' , 'redes#index' %>
                            </li>
                            <li itemprop="name">
                                <%= link_to 'Carteleria Digital' , 'carteleria#index' %>
                            </li>
                            <li itemprop="name">
                                <%= link_to 'Servidores' , 'servidores#index' %>
                            </li>
                            <li itemprop="name">
                                <%= link_to 'Centralitas' , 'centralitas#index' %>
                            </li>
                        </ul>
                    </li>
                    <li itemprop="name">
                        <%= link_to 'Precios' , 'precios#index' %>
                    <li itemprop="name">
                        <%= link_to 'Contacto' , 'contacto#index' %>
                    <li itemprop="name"><a itemprop="url" href="blog.html">Blog</a></li>
                    <li itemprop="name"><a itemprop="url" class="btn-header" href="sign-up.html">Juegos</a></li>
                    <li itemprop="name"><a itemprop="url" class="btn-header" href="sign-in.html">Sign in</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>

<%= yield %>

</body>

<!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row info">
                <div class="row sections">
                <div class="span4">
                    <h3 class="footer_header">Navegación</h3>
                    <div class="post">
                        <ul>
                            <li itemprop="name"><a itemprop="url" href="index.html">Inicio</a></li>
                            <li itemprop="name"><a itemprop="url" href="plataforma/index.html">Plataforma Web</a></li>
                            <li itemprop="name"><a itemprop="url" href="diseno-web/index.html">Diseño Web</a></li>
                            <li itemprop="name"><a itemprop="url" href="#">Redes y Seguridad</a></li>
                            <li itemprop="name"><a itemprop="url" href="#">Carteleria Digital</a></li>
                            <li itemprop="name"><a itemprop="url" href="#">Servidores</a></li>
                            <li itemprop="name"><a itemprop="url" href="#">Centralitas</a></li>
                            <li itemprop="name"><a itemprop="url" href="avast-antivirus/index.html">Avast Antivirus</a></li>
                            <li itemprop="name"><a href="softwareDELSOL/index.html">Software DELSOL</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <h3 class="footer_header">Afiliados</h3>
                    <ul class="">
                        <li itemprop="name"><a itemprop="url" href="http://www.arvixe.com/4180-374-1-493.html" target="_blank">Arvixe</a></li>
                        <li itemprop="name"><a itemprop="url" href="http://www.bluehost.com/track/rbssoltec" target="_blank">Bluehost</a></li>
                        <li itemprop="name"><a itemprop="url" href="http://www.sdelsol.com" target="_blank">Software DELSOL</a></li>
                        <li itemprop="name"><a itemprop="url" href="http://www.avast.com/es-es/index" target="_blank">Avast Antivirus</a></li>
                        <li itemprop="name"><a itemprop="url" href="http://www.dmi.es" target="_blank">DMI Computer</a></li>
                        <li itemprop="name"><a itemprop="url" href="http://www.34t.com" target="_blank">34Telecom</a></li>
                        <li itemprop="name"><a itemprop="url" href="http://www.directorioonline.es" target="_blank">DirectorioOnline</a></li>
                        <li itemprop="name"><a href="http://www.info-apuestas.com/bet365/" id="ZMNEE22" target="_blank">bet365</a></li>
                        <li itemprop="name"><a itemprop="url" href="http://www.guiaguay.com" target="_blank">GuiaGuay</a></li>
                      </ul>
                </div>
                <div class="span4">
                    <h3 class="footer_header">Contacto</h3>
                    <address>
                              <strong itemprop="name">RBS SolTec S.L</strong><br>
                              <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                  <span itemprop="streetAddress">Avda. de Madrid nº25</span><br>
                                  <span itemprop="streetAddress">Nave C-5, Oficina 1</span><br>
                                  <span itemprop="addressLocality">28500 Arganda del Rey <span itemprop="addressRegion">(Madrid)</span></span><br>
                                  <abbr title="Mail">Mail:</abbr> <a itemprop="email" itemprop="url" href="mailto:soporte@rbssoltec.com">soporte@rbssoltec.com</a>
                              </div>
                    </address>
                    <a href="http://www.prchecker.info/" title="Free PageRank Checker" target="_blank">
                                <img src="http://pr.prchecker.info/getpr.php?codex=aHR0cDovL3Jic3NvbHRlYy5jb20=&amp;tag=1" alt="Free PageRank Checker" style="border:0; padding-top:12px;"></a>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a itemprop="url" href="https://www.facebook.com/RBSSolTec" class="facebook" target="_blank">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a itemprop="url" href="https://twitter.com/RBS_soltec" class="twitter" target="_blank">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a itemprop="url" href="http://pinterest.com/rbssoltec/" class="pinterest" target="_blank">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12" itemprop="author">
                            Copyright &copy; 2013 RBS Soluciones Tecnol&oacute;gicas. Reservados todos los derechos.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>

    
    
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "theme.js" %>
    <%= javascript_include_tag "index-slider.js" %>
</body>
</html>